<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

.left { 
  width: 45%;
}

.right { 
  width: 55%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 715px) {
  .column {
    width: 100%;
  }
}
</style>
</head>
<section id="about">
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="column left">
          <img src="{{ site.baseurl }}static/img/about_me.jpeg" width="300" alt="About page image">        
        </div>
        <div class="column right">
          <h5> Hi there! Welcome to my website. 
              I'm an interdisciplinary climate data scientist with a passion for open science and building cloud-based tools for environmental data analysis. I hold a B.A. in Atmospheric Science from UC Berkeley and am currently pursuing an M.S. in Hydrologic Science and Engineering at Colorado State University. Outside of work, you can find me salsa dancing, reading just about anything, looking for the best breakfast burrito in town, practicing yoga, or hiking in nature. 
          </h5>
        </div>
  </div>
</div>

</body>
</html>
